  <div 
  [ngClass]="{tooltipUp: location=='cima', 
  tooltipDown: location=='baixo',
  tooltipLeft: location=='esquerda',
  tooltipRight: location=='direita'}">
  
    <span>?</span> <!-- Usar classe Bootstrap interrogation-circle -->
    
    <div #tooltiptext 
    [ngClass]="{tooltiptextUp: location=='cima', 
    tooltiptextDown: location=='baixo',
    tooltiptextLeft: location=='esquerda',
    tooltiptextRight: location=='direita'}">

      <div #square 
      [ngClass]="{squareUp: location=='cima', 
      squareDown: location=='baixo',
      squareLeft: location=='esquerda',
      squareRight: location=='direita'}"></div>

      <ng-content></ng-content>
    </div>
  </div>