body{
    font-family: Arial, Helvetica, sans-serif;
}

.tooltipUp, .tooltipDown, .tooltipLeft, .tooltipRight{
    position: relative;
    display: inline-block;
    padding: 5px;
}

/* Para Cima */
.tooltiptextUp{
    visibility: hidden;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transform: translateY(0);
    transition: 500ms;
}

.tooltipUp:hover .tooltiptextUp{
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
}

.squareUp{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
}

/* Para Baixo */
.tooltiptextDown{
    visibility: hidden;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transform: translateY(0);
    transition: 500ms;
}

.tooltipDown:hover .tooltiptextDown{
    visibility: visible;
    opacity: 1;
    transform: translateY(20%);
}

.squareDown{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
}

/* Para Esquerda */
.tooltiptextLeft{
    visibility: hidden;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    opacity: 0;
    transform: translateX(0);
    transition: 500ms;
}

.tooltipLeft:hover .tooltiptextLeft{
    visibility: visible;
    opacity: 1;
    transform: translateX(-5%);
}

.squareLeft{
    content: " ";
    position: absolute;
    top: 20%;
    left: 100%;
    margin-right: -5px;
    border: 5px solid;
}

/* Para Direita */
.tooltiptextRight{
    visibility: hidden;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 0;
    transform: translateX(0);
    transition: 500ms;
}

.tooltipRight:hover .tooltiptextRight{
    visibility: visible;
    opacity: 1;
    transform: translateX(5%);
}

.squareRight{
    content: " ";
    position: absolute;
    top: 20%;
    right: 100%;
    margin-top: -2px;
    border: 5px solid;
}