<div class="container">
  <div class="row">
    <button class="btn btn-success" (click)="isClicked()">Click here</button>
  </div>
  <div class="row">
  <p> Message togle -> <span *ngIf="enabled">This is a message</span></p>
</div>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li *ngFor="let log of logs" [ngClass]="{blue: log >= 5}">{{ log }}</li>
    </ul>
   </div>
</div>

<div *appUnless="false">
  <h1>To show</h1>
</div>

<div *appUnless="true">
  <h1>Not to show</h1>
</div>

<app-for [dados]="names" [cada]="'nome'">
  <h1>Testando For nome</h1>
</app-for>

</div>